@media only screen and (max-width: 768px) {
  nav .main-nav li {
    margin: auto 15px;
    font-size: 90%; } }
@media only screen and (max-width: 576px) {
  nav .main-nav {
    display: none; }
  nav .main-nav-active {
    display: block; }
    nav .main-nav-active li {
      display: block;
      text-align: left;
      margin-bottom: 10px; }
      nav .main-nav-active li a:hover,
      nav .main-nav-active li a:visited {
        color: #286782; }
  nav .mobile-nav-icon,
  nav .nav-header {
    display: inline-block; }

  .section-intro h1 {
    font-size: 200%; }
  .section-intro .btn-dog {
    margin: 30px auto; }

  .section-options h2 {
    margin-top: 40px;
    position: relative; }
  .section-options .all-beef,
  .section-options .vegan,
  .section-options .vegetarian {
    height: auto;
    width: 100%; }
  .section-options .option-image {
    display: block;
    width: 100%;
    height: 100%;
    margin-left: 0; }
  .section-options .all-beef .content-all-beef, .section-options .vegan .content-vegan, .section-options .vegetarian .content-vegetarian {
    position: static;
    margin: auto;
    padding-bottom: 40px;
    width: 70%;
    -webkit-transform: none;
    transform: none; }
  .section-options .all-beef,
  .section-options .vegan,
  .section-options .vegetarian {
    position: static; }

  footer .copy,
  footer .contact {
    float: none;
    width: 100%;
    text-align: center; } }
