//Fonts
$font-stack: 'Open Sans', sans-serif;
$font-special: 'Raleway', sans-serif;

//Colors
$body-background: #fbfafa;
$footer-background: #efefef;
$blue: #286782;
$blue-gray: #84959c;
$menu-text: #2e2e2e;
$content-text: #555559;
